<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta name="apple-touch-fullscreen" content="YES">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="author" content="sone" />
	<meta name="email" content="sone47.china@gmail.com">
	<meta name="description" content="个人项目,游戏,HTML5,CSS3,JavaScript学习中.">
	<title>Home</title>
	<script type="text/javascript" src="/javascripts/Sone.js"></script>
	<script type="text/javascript" src="/javascripts/sone_drag.js"></script>
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/index.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/Slider.css">
    <link rel="shortcut icon" href="images/head/head0.png" />
	<link href="images/head/head1.png" sizes="114x114" rel="apple-touch-icon-precomposed">
</head>
<body>
	<!-- 头部 -->
	<header id="header">
		<div class="header">
			<!-- 导航 -->
			<a class="nav-btn">
				<span></span>
				<span></span>
				<span></span>
			</a>
			<nav class="nav" id="nav">
				<ul class="nav-content">
					<li class="nav-li"><a href="/">Home</a></li>
					<li class="nav-li"><a href="/article">Blogs</a></li>
					<li class="nav-li"><a href="/project">Demos</a></li>
					<li class="nav-li"><a href="/about">About me</a></li>
				</ul>
				<div class="nav_bg"></div>
			</nav>
			<h1 class="logo">Sone</h1>
		</div>
	</header>

	<!-- 博文 -->
	<div id="main">
		<!-- 轮播器 -->
		<div id="banner"></div>
		<!--留言-->
		<div id="message">
			<div class="publish">
				<h2>说点什么吧</h2>
				<form>
					<textarea name="message" cols="30" rows="10"></textarea>
					<div class="success">发布成功</div>
					<div class="input-wrap">
						<input type="text" name="name" placeholder="请输入您的名字" maxlength="6" class="name">
						<input type="text" name="email" placeholder="您的邮箱" class="email">
					</div>
					<input type="button" class="btn" value="留 言">
				</form>
			</div>
			<ul class="message_list">
				<% messages.forEach(function(message, index) { %>
					<% var date = new Date(new Date(message.createTime).toLocaleString()); %>
					<% var time = date.getFullYear()+'-'+('0'+(date.getMonth()+1)).slice(-2)+'-'+('0'+date.getDate()).slice(-2)+' '+('0'+date.getHours()).slice(-2)+':'+('0'+date.getMinutes()).slice(-2)+':'+('0'+date.getSeconds()).slice(-2); %>
					<li>
						<p><%= message.content %></p>
						<div class="info">
							<span class="name">
								<% if(login) { %>
									<%- '<a href="mailto:'+message.email+'">'+message.name+'</a>' %>
								<% } else { %>
									<%= message.name %>
								<% } %>
							</span>
							<span class="time">
								<%= time %>
								<% if(login) { %>
									<%- '<a href="javascript:void(0);" data-id="'+message._id+'" class="delete">删除</a>' %>
								<% } %>
							</span>
						</div>
						
					</li>
				<% }); %>
			</ul>
		</div>
		<!-- 博文(侧边菜单) -->
		<aside id="sidebar">
			<div class="sidebar-div">
				<h2>CSS3</h2>
				<ul>
					<li><a href="javascript:void(0);">闭包</a></li>
					<li><a href="javascript:void(0);">AJAX</a></li>
					<li><a href="javascript:void(0);">Cookie与存储</a></li>
					<li><a href="javascript:void(0);">面向对象与原型</a></li>
					<li><a href="javascript:void(0);">变量作用域与内存</a></li>
				</ul>
			</div>
			<div class="sidebar-div">
				<h2>JavaScript</h2>
				<ul>
					<li><a href="javascript:void(0);">闭包</a></li>
					<li><a href="javascript:void(0);">AJAX</a></li>
					<li><a href="javascript:void(0);">Cookie与存储</a></li>
					<li><a href="javascript:void(0);">面向对象与原型</a></li>
					<li><a href="javascript:void(0);">变量作用域与内存</a></li>
				</ul>
			</div>
			<div class="sidebar-div">
				<h2>Node.js</h2>
				<ul>
					<li><a href="javascript:void(0);">闭包</a></li>
					<li><a href="javascript:void(0);">AJAX</a></li>
					<li><a href="javascript:void(0);">Cookie与存储</a></li>
					<li><a href="javascript:void(0);">面向对象与原型</a></li>
					<li><a href="javascript:void(0);">变量作用域与内存</a></li>
				</ul>
			</div>
		</aside>

	</div>

	<!-- 分享侧栏 -->
	<div id="share">
		<h2>分享到</h2>
		<ul>
			<li><a href="javascript:void(0);" class="mshare">一键分享</a></li>
			<li><a href="javascript:void(0);" class="qzone">QQ空间</a></li>
			<li><a href="javascript:void(0);" class="weibo">新浪微博</a></li>
			<li><a href="javascript:void(0);" class="tieba">百度贴吧</a></li>
			<li><a href="javascript:void(0);" class="douban">豆瓣网</a></li>
			<li><a href="javascript:void(0);" class="weixin">微信</a></li>
			<li><a href="javascript:void(0);" class="instagram">Instagram</a></li>
			<li><a href="javascript:void(0);" class="facebook">Facebook</a></li>
			<li><a href="javascript:void(0);" class="twitter">Twitter</a></li>
		</ul>
		<div><a href="javascript:void(0);" class="more">更多...</a></div>
		<span>分享</span>
	</div>

    <!--版权部分-->
    <footer id="footer">
		Learn more and know less.
        <span>By <a href="https://github.com/sone47">Sone</a></span>
        <small>©2016-2017</small>
    </footer>

	<script type="text/javascript" src="/javascripts/base.js"></script>
	<script type="text/javascript" src="/javascripts/Slider.js"></script>
	<script type="text/javascript" src="/javascripts/index.js"></script>
</body>
</html>